
<h1>Posts of <%= @user %></h1>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-block' %>

<br>

<!-- POSTS -->
<div class="post-table">
  <div class="row table-header">
      <div class="col-sm-2">
      Title
      </div>
      <div class="col-sm-6">
      Content
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  <% @posts.each do |post| %>
    <div class="row table-row">
      <div class="col-sm-2">
        <%= post.title %>
      </div>
      <div class="col-sm-6">
        <%= post.content %>
      </div>
      <div class="col-sm-4">
        <%= link_to 'Show', post, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>

<!-- POSTS -->
