<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">Post Management</div>
      
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <% unless flash[:notice].nil? %>
        <div class="alert alert-success" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %> 
        </div>
      <% end %>

      <!-- Content here -->
      <%= yield %>

      <div class="footer">
        Copyright &copy; 2018 Hyakuren Vietnam
      </div>
    </div>
  </body>
</html>
